    <div class="footerm" id="footer-mobile">
        <div class="column">
          <a href="#" class="white-color"><i class="fa fa-search fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="column">
          <a href="#"><img src="https://www.w3schools.com/howto/img_avatar.png" width="50" height="50" class="img-round img-responsive"></a>
        </div>
        <div class="column">
          <a href="#"><img src="media/esselly_logo.jpeg" width="50" height="50" class="img-round img-responsive"></a>
        </div>
    </div>
    <div class="footerd" id="footer-desktop">
        <p class="text-center white-color"><a href="#" class="white-color">Esselly.com</a></p>
    </div>