<!DOCTYPE html>
{% load static %}
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    {% include "partials/menu.html" %}
    <!-- <div class="slider">
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">Profile page</p><br/>
          <p class="text-center" id="profileResponse"></p>
        </div>
      </div>
    </div>
    {% include 'partials/footer.html' %}
    {% include 'partials/scripts.html' %}
    <script src="{% static 'js/profilePage.js' %}"></script>
  </body>
</html>